{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Get a short URL {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Enter your URL and (not essential) it's short version</label>
        <input type="text" name="url"
               placeholder="URL" class="form-control"
               value="{{ request.form['url'] }}"></input>
    </div>

    <div class="form-group">
        <label for="content">short url</label>
        <textarea name="short_url" placeholder="Short URL"
                  class="form-control">{{ request.form['short_url'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}